%section.confirm_password_reset.container
  .row
    .span10.offset1
      %p Look out for an email from us. From there you can reset your password.
      %br
      %p No email? Check your spam folder or #{link_to "try again", forgotten_password_path}.