---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103HEZ2cz2bVk3a9ZWp7iph4&description=MyFlix%20subscription%20for%20tommy%40trash.com.
    headers:
      Authorization:
      - Bearer sk_test_tTR3dHelmvlAvuJbrlw7L4Qr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\",\n    \"charge\":
        \"ch_103HEZ2cz2bVk3a9chA5DeKK\"\n  }\n}\n"
  recorded_at: Thu, 09 Jan 2014 10:31:31 GMT
recorded_with: VCR 2.8.0
