---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_tTR3dHelmvlAvuJbrlw7L4Qr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_103G7a2cz2bVk3a9GnUbJOnA\",\n  \"livemode\": false,\n
        \ \"created\": 1389006907,\n  \"used\": false,\n  \"object\": \"token\",\n
        \ \"type\": \"card\",\n  \"card\": {\n    \"id\": \"card_103G7a2cz2bVk3a9SN3JJZG1\",\n
        \   \"object\": \"card\",\n    \"last4\": \"4242\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 12,\n    \"exp_year\": 2016,\n    \"fingerprint\": \"1WC6G7NhnqeytMHO\",\n
        \   \"customer\": null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Mon, 06 Jan 2014 11:15:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103G7a2cz2bVk3a9GnUbJOnA&description=A%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_tTR3dHelmvlAvuJbrlw7L4Qr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_103G7a2cz2bVk3a9rSRRGppc\",\n  \"object\": \"charge\",\n
        \ \"created\": 1389006908,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        999,\n  \"currency\": \"usd\",\n  \"refunded\": false,\n  \"card\": {\n    \"id\":
        \"card_103G7a2cz2bVk3a9SN3JJZG1\",\n    \"object\": \"card\",\n    \"last4\":
        \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 12,\n    \"exp_year\":
        2016,\n    \"fingerprint\": \"1WC6G7NhnqeytMHO\",\n    \"customer\": null,\n
        \   \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\": null,\n
        \   \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null,\n    \"cvc_check\":
        \"pass\",\n    \"address_line1_check\": null,\n    \"address_zip_check\":
        null\n  },\n  \"captured\": true,\n  \"refunds\": [],\n  \"balance_transaction\":
        \"txn_103G7a2cz2bVk3a9oyQ7gKsl\",\n  \"failure_message\": null,\n  \"failure_code\":
        null,\n  \"amount_refunded\": 0,\n  \"customer\": null,\n  \"invoice\": null,\n
        \ \"description\": \"A valid charge\",\n  \"dispute\": null,\n  \"metadata\":
        {}\n}\n"
  recorded_at: Mon, 06 Jan 2014 11:15:08 GMT
recorded_with: VCR 2.8.0
