%section.site_title
  %h1
    Unlimited viewing for just $10 a month.<br>
    = link_to "Sign up now!", register_path
  %p.sign_up
  %p.sign_in
    Have an account? Please
    = link_to "sign in", sign_in_path