- @categories.each do |c|
  %article.video_category
    %header
      %h3= link_to c.name, category_path(c.id)
    .videos.row
      - c.videos.each do |v|
        .video.span2
          = link_to video_path(v.id), nil do
            %img(src="#{v.small_cover_url}")
