%article.video_category
  %header
    %h3= link_to "TV Commedies"
  .videos.row
    - @videos.each do |v|
      .video.span2
        = link_to video_path(v.id), nil do
          %img(src="#{v.small_cover_url}")
